/* $Id: document.css,v 1.6 2005/02/04 16:49:47 aamine Exp $ */

body {
    background-color: white;
    color: black;
    text-align: left;
    line-height: 1.3;
    margin-top: 2em;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    text-align:    left;
    font-size:     200%;
    margin-top:    0em;
    margin-bottom: 1em;
    border-bottom: 2px solid #33a;
}

h2 {
    text-align: left;
    font-size: 150%;
    margin-top: 1em;
    margin-bottom: 0.1em;
    padding-left: 8px;
    border-left: 12px solid #33a;
}

h3 {
    text-align: left;
    font-size:  150%;
    margin-top: 1em;
    margin-bottom: 0.1em;
}

ul {
    padding-left: 1em;
}

li {
    padding-left: 0em;
}

dl {
    margin-top:    0em;
    margin-bottom: 0em;
    margin-left:   0em;
    margin-right:  0em;
}

dt {
    margin-top:    0.5em;
    margin-bottom: 0.2em;
    margin-left:   0em;
    margin-right:  0em;
}

dd {
    margin-top:    0em;
    margin-bottom: 0em;
    margin-left:   4em;
    margin-right:  0em;
}

address {
    font-style: normal;
    line-height: 1.1;
    text-align: right;
}

pre {
    background-color: #efefef;
    padding: 8px;
    line-height: 1.1;
    font-weight: normal;
}

p.warning {
    font-size: 200%;
    border: 2px solid red;
    padding: 8px;
}

img.cover {
    float: right;
}

table {
    margin: 1.5em 0em 1.5em 0em;
    border-top: 1px solid #666;
}
th {
    text-align: left;
    color: white;
    background-color: #666;
    border-bottom: 1px solid #666;
    padding: 0.2em;
}
td {
    border-bottom: 1px solid #666;
    padding: 0.2em;
}

a:link, a:visited {
    color: #33a;
    text-decoration: none;
}

a:active, a:visited {
    color: #999999;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}
